*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botonCupones{
    height: 100px;
    margin-top: 5%;
    font-size: 25px;
}
#gridProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-gap: 1px;
    margin-top: 2px;
    margin-left: 2px; */
 
}
/* .btnContainerCup{
    grid-column: 1/3;
    grid-row:3/4;
} */
.ContenedorImagen img{
    height: 80%;
    width: 80%;
    border: 1px solid rgba(28,110,164,0.22);
    border-radius: 8px;
}
.btn{
    width: 50%;
}
.card{
    padding: 15px;
    margin-top: 20px;
    width: 47.5%;   
}
.carrito{
    margin-top: 20px;
}

